@import '@/style/variables/color.scss';

.index-page {
	.title {
		color: $l-theme-primary;
		font-size: 26px;
		font-family: -webkit-pictograph;
		height: 60px;
		padding: 0 10px;
	}
	&-component-list {
		.component-item {
			background-color: $l-theme-primary;
			color: #fff;
			font-size: 18px;
			padding: 0 10px;
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;
		}
	}
}
.action-panel {
	padding: 5px;
}
