//左右padding
$l-input-padding :10px;
//默认高度
$l-input-height:38px;
//large尺寸高度
$l-input-height-large:46px;
//small尺寸高度
$l-input-height-small:30px;
//默认边框色
$l-input-border-color:#c7c7c7;
//
$l-input-fontsize:14px;