//左右padding
$run-input-padding :10px;
//默认高度
$run-input-height:38px;
//large尺寸高度
$run-input-height-large:46px;
//small尺寸高度
$run-input-height-small:30px;
//默认边框色
$run-input-border-color:#c7c7c7;
//
$run-input-fontsize:14px;