@import './input.variables.scss';
.l-input-warp {
	position: relative;
	width: 100%;
	&-border {
		&::before {
			@include border-1px($l-input-border-color);
		}
	}
	&-textarea {
		padding: $l-textarea-padding 0;
	}
	.l-input {
		min-height: $l-input-height;
		padding: 0 $l-input-padding;
		font-size: $l-input-fontsize;
		font-family: auto;
		letter-spacing: $l-input-text-spacing;
	}
	.l-input,
	.l-textarea {
		&:disabled {
			opacity: 0.5;
		}
	}
	.l-input-textarea-wrapper {
		position: relative;
		width: 100%;
		margin: 0;
		padding: 0;
		line-height: normal;
		.l-textarea-block,
		.l-textarea {
			padding: 0 $l-input-padding;
			font-size: $l-input-fontsize;
			font-family: auto;
			letter-spacing: $l-input-text-spacing;
		}
		.l-textarea {
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			margin: 0;
			overflow: hidden;
			background: transparent;
			outline: 0 none;
			border: none;
			padding: 0 $l-input-padding;
			font-size: $l-input-fontsize;
			font-family: auto;
			letter-spacing: $l-input-text-spacing;
		}
		.l-textarea-block {
			display: block;
			white-space: pre-wrap;
			word-wrap: break-word;
			visibility: hidden;
			overflow: hidden;
			margin: 0;
			box-sizing: border-box;
			font-size: $l-input-fontsize;
		}
	}
	.l-input-tool {
	}
}
