body, html{
    font-family: -apple-system,Helvetica Neue,Roboto,Segoe UI,sans-serif;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}