//左右padding
$l-button-padding :10px;
//默认高度
$run-button-height:38px;
//large尺寸高度
$run-button-height-large:46px;
//small尺寸高度
$run-button-height-small:30px;
//默认风格色彩
$l-button-theme-default:$l-color-gray;