.l-cell {
	height: 50px;
	padding: 0 10px;
	position: relative;
	&::before {
		@include border-1px($l-color-light, bottom, 0);
	}
	&-label {
		font-size: 14px;
		color: $l-color-gray;
	}
	&-value {
		text-align: right;
		font-size: 14px;
		color: $l-color-gray-dark;
		padding-left: 10px;
	}
}
