@import "./toast.variables.scss";

.l-toast {
    background: $l-toast-background;
    color: $l-toast-color;
    font-size: $l-toast-size;
}

.initClass {
    padding: $l-toast-padding;
    border-radius: $l-toast-border-radius;
}