/* 整体宽度 */
$switch-width:43px; 
/* 圆的高度 */
$switch-height:23px;
/* 圆的颜色 */
$switch-round-color:#fff;
/* 选中背景颜色 */
$switch-select-color:$run-theme-primary;
/* 未选中背景颜色 */
$switch-cancle-color:#DFDFDF;