.action-sheet{
  background-color: #fff;
  width: 100%;
  header{
    padding:15px 10px;
    font-size: 16px;
    text-align: center;
    position: relative;
    &::before{
      @include border-1px(#efefef, bottom, 0);
    }
  }
  footer{
    padding:15px 10px;
    font-size: 16px;
    text-align: center;
    position: relative;
  }
  ul{
    li{
      padding:15px 10px;
      font-size: 16px;
      text-align: center;
      position: relative;
      &::before{
        @include border-1px(#efefef, bottom, 0);
      }
    }
  }
}