.l-picker {
	background-color: #fff;
	height: 260px;
	&-title {
		font-size: 16px;
		text-align: center;
	}
	.l-picker-top {
		padding: 0 10px;
		height: 44px;
		font-size: 16px;
		color: $l-color-gray;
		background-color: #fbfbfb;
		position: relative;
		& > span {
			&:nth-child(1) {
				color: $l-color-gray;
			}

			&:nth-child(3) {
				color: $l-theme-primary;
			}
		}
		.l-picker-button {
			position: relative;
			&::before {
				content: '';
				position: absolute;
				top: -10px;
				bottom: -10px;
				left: -10px;
				right: -10px;
			}
		}
	}

	.l-picker-contant {
		overflow: hidden;
		position: relative;

		& > div {
			width: 100%;
		}
	}

	.l-picker-wheel-scroll {
		padding: 0;
		list-style: none;
		margin-top: 90px;

		& > li {
			height: 38px;
			line-height: 38px;
			list-style: none;
			text-align: center;
		}
	}

	.l-picker-mask {
		position: absolute;
		background: linear-gradient(
			0deg,
			hsla(0, 0%, 100%, 0.4),
			hsla(0, 0%, 100%, 0.8)
		);
		width: 100%;
		height: 90px;
		z-index: 1;
		pointer-events: none;
		transform: translateZ(0);

		&:before {
			content: '';
			position: absolute;
			transform: scale(0.5) translateZ(0);
			width: 200%;
			border-top: 1px solid #ebebeb;
			left: 0;
			bottom: 0;
			transform-origin: 0 bottom;
		}

		&-top {
			top: 0;

			&:before {
				bottom: 0;
				transform-origin: 0 bottom;
			}
		}

		&-bottom {
			bottom: 0;

			&:before {
				top: 0;
				transform-origin: 0 top;
			}
		}
	}
}
