@import './calendar.variables.scss';
.calendar-warp {
	background: #fff;
}
.l-calendar {
	height: 100%;
	&-ok {
		padding-right: 10px;
		font-size: 16px;
		color: $l-theme-primary;
	}
	.select-date {
		padding: 10px 0;
		background: #fbfbfb;
		&-info {
			text-align: center;
			& > li {
				&:nth-child(1) {
					font-size: 15px;
					color: $l-color-gray;
				}
				&:nth-child(2) {
					font-size: 14px;
					margin-top: 5px;
					color: $l-color-gray-dark;
					font-weight: 500;
				}
			}
		}
		&-step {
			width: 50px;
			text-align: center;
			font-size: 14px;
		}
	}
	.calendar-week-header {
		padding: 10px 0;
		font-size: 12px;
	}
	.calendar-contant {
		overflow-x: hidden;
		overflow-y: auto;
		-webkit-overflow-scrolling: touch;
		.calendar-month-warp {
			&:last-child {
				padding-bottom: 10px;
			}
			.calendar-month-title {
				padding: 10px;
				font-size: 14px;
				background: #fbfbfb;
			}
			&:first-child .calendar-month-title {
				margin-top: 0;
			}
		}

		.calendar-row {
			// &:not(:last-child) {
			// 	margin-bottom: $l-calendar-spacin;
			// }

			// &:first-child {
			// 	margin-top: $l-calendar-spacin;
			// }

			.calendar-day {
				position: relative;
				color: #d8d8d8;
				font-size: 14px;
				height: 55px;
				visibility: hidden;
				& > span {
					position: absolute;
					left: 50%;
					top: 50%;
					transform: translate(-50%, -50%);
					z-index: 1;
				}
				&::before {
					visibility: hidden;
					transform: translate(-50%, -50%) scale(0);
					transition-property: transform;
					transition-duration: 0.5s;
				}

				&-current-month {
					color: #222;
					visibility: visible;
					height: 55px;
					&::before {
						visibility: visible;
					}
				}
				&-selected {
					color: $l-calendar-toolbar-bg-color;
					font-weight: 600;
					&::before {
						content: '';
						position: absolute;
						left: 50%;
						top: 50%;
						transform: translate(-50%, -50%) scale(1);
						height: 30px;
						width: 30px;
						border-radius: 50%;
						box-sizing: border-box;
						border: 1px solid $l-calendar-toolbar-bg-color;
					}
					&::after {
						content: '今天';
						position: absolute;
						left: 50%;
						transform: translateX(-50%);
						font-size: 12px;
						bottom: -8px;
						color: $l-calendar-toolbar-bg-color;
					}
				}
				&-start {
					color: #fff;
					font-weight: 600;
					&::before {
						content: '';
						position: absolute;
						left: 50%;
						top: 50%;
						transform: translate(-50%, -50%) scale(1);
						height: 30px;
						width: 30px;
						border-radius: 50%;
						background-color: $l-calendar-toolbar-bg-color;
					}
					&::after {
						content: '起';
						position: absolute;
						left: 50%;
						transform: translateX(-50%);
						font-size: 12px;
						bottom: -8px;
						color: $l-calendar-toolbar-bg-color;
					}
				}
				&-end {
					color: #fff;
					font-weight: 600;
					&::before {
						content: '';
						position: absolute;
						left: 50%;
						top: 50%;
						transform: translate(-50%, -50%) scale(1);
						height: 30px;
						width: 30px;
						border-radius: 0 50% 50% 0;
						background-color: $l-calendar-toolbar-bg-color;
					}
					&::after {
						content: '止';
						position: absolute;
						left: 50%;
						transform: translateX(-50%);
						font-size: 12px;
						bottom: -8px;
						color: $l-calendar-toolbar-bg-color;
					}
				}
				&-end-one-day {
					@extend .calendar-day-end;
					&::before {
						border-radius: 50%;
					}
				}
				&-end-previous::after {
					content: '';
					position: absolute;
					height: 30px;
					top: 50%;
					transform: translateY(-50%);
					left: 100%;
					width: 50%;
					background: $l-calendar-toolbar-bg-color;
				}
				&-in {
					color: #fff;
					font-weight: 600;
					&::before {
						content: '';
						position: absolute;
						left: 50%;
						top: 50%;
						transform: translate(-50%, -50%) scale(1);
						height: 30px;
						width: 100%;
						background-color: $l-calendar-toolbar-bg-color;
					}
				}
				&-in-start {
					&::before {
						border-radius: 50% 0 0 50%;
					}
					& + .calendar-day::after {
						content: '';
						position: absolute;
						height: 30px;
						top: 50%;
						transform: translateY(-50%);
						left: -25%;
						width: 50%;
						background: $l-calendar-toolbar-bg-color;
					}
				}
				&-in-two-day::after {
					content: '';
					position: absolute;
					height: 30px;
					top: 50%;
					transform: translateY(-50%);
					left: -50%;
					width: calc((300% + 60px) / 2);
					background: $l-calendar-toolbar-bg-color;
				}
				&-start-and-end {
					color: #fff;
					&::before {
						content: '';
						position: absolute;
						left: 50%;
						top: 50%;
						transform: translate(-50%, -50%) scale(1);
						height: 30px;
						width: 30px;
						border-radius: 50%;
						background-color: $l-calendar-toolbar-bg-color;
					}
					&::after {
						content: '起/止';
						position: absolute;
						left: 50%;
						transform: translateX(-50%);
						font-size: 12px;
						bottom: -8px;
						color: $l-calendar-toolbar-bg-color;
						white-space: nowrap;
					}
				}
			}
		}
	}
}
