@import './calendar.variables.scss';
.calendar-warp {
	background: #fff;
}
.l-calendar {
	height: 100%;
	&-ok {
		padding-right: 10px;
		font-size: 16px;
		color: $l-theme-primary;
	}
	.calendar-week-header {
		padding: 10px 0;
		font-size: 12px;
	}

	.calendar-contant {
		overflow-x: hidden;
		overflow-y: auto;
		-webkit-overflow-scrolling: touch;
		.calendar-contant-scroll-warp {
			position: relative;
			overflow: hidden;
			white-space: nowrap;

			.calendar-month-warp {
				&:last-child {
					padding-bottom: 10px;
				}
				.calendar-month-title {
					padding: 10px;
					font-size: 14px;
					background: #fbfbfb;
					margin: 30px 0;
				}
				&:first-child .calendar-month-title {
					margin-top: 0;
				}
			}
		}

		.calendar-row {
			&:not(:last-child) {
				margin-bottom: $l-calendar-spacin;
			}

			&:first-child {
				margin-top: $l-calendar-spacin;
			}

			.calendar-day {
				position: relative;
				color: #d8d8d8;
				font-size: 14px;
				visibility: hidden;
				& > span {
					position: absolute;
					left: 50%;
					top: 50%;
					transform: translate(-50%, -50%);
					z-index: 1;
				}
				&::before {
					visibility: hidden;
					transform: translate(-50%, -50%) scale(0);
					transition-property: transform;
					transition-duration: 0.5s;
				}
				&-current-month {
					color: #222;
					visibility: visible;
					&::before {
						visibility: visible;
					}
				}
				&-selected {
					color: #fff;
					font-weight: 600;
					&::before {
						content: '';
						position: absolute;
						left: 50%;
						top: 50%;
						transform: translate(-50%, -50%) scale(1);
						height: 30px;
						width: 30px;
						border-radius: 50%;
						background-color: $l-calendar-toolbar-bg-color;
					}
				}
				&-start {
					color: #fff;
					font-weight: 600;
					&::before {
						content: '';
						position: absolute;
						left: 50%;
						top: 50%;
						transform: translate(-50%, -50%) scale(1);
						height: 30px;
						width: 30px;
						border-radius: 50%;
						background-color: $l-calendar-toolbar-bg-color;
					}
					&::after {
						content: '起';
						position: absolute;
						left: 50%;
						transform: translateX(-50%);
						font-size: 12px;
						bottom: -30px;
						color: $l-calendar-toolbar-bg-color;
					}
				}
				&-end {
					color: #fff;
					font-weight: 600;
					&::before {
						content: '';
						position: absolute;
						left: 50%;
						top: 50%;
						transform: translate(-50%, -50%) scale(1);
						height: 30px;
						width: 30px;
						border-radius: 0 50% 50% 0;
						background-color: $l-calendar-toolbar-bg-color;
					}
					&::after {
						content: '止';
						position: absolute;
						left: 50%;
						transform: translateX(-50%);
						font-size: 12px;
						bottom: -30px;
						color: $l-calendar-toolbar-bg-color;
					}
				}
				&-in {
					color: #fff;
					font-weight: 600;
					&::before {
						content: '';
						position: absolute;
						left: 50%;
						top: 50%;
						transform: translate(-50%, -50%) scale(1);
						height: 30px;
						width: 100%;
						background-color: $l-calendar-toolbar-bg-color;
					}
				}
				&-in-start {
					&::before {
						border-radius: 50% 0 0 50%;
					}
					& + .calendar-day::after {
						content: '';
						position: absolute;
						height: 30px;
						top: 50%;
						transform: translateY(-50%);
						left: calc((30px - 100%) / 2);
						width: calc((100% - 30px) / 2);
						background: $l-calendar-toolbar-bg-color;
					}
				}
			}
		}
	}
}
