.action-sheet {
	background-color: #fff;
	width: 100%;
	.action-sheet-item {
		padding: 15px 10px;
		font-size: 16px;
		text-align: center;
		position: relative;
	}
	& > footer {
		color: rgb(128, 29, 29);
	}
	header {
		color: $l-color-gray;
		&::before {
			@include border-1px(#efefef, bottom, 0);
		}
	}
	section {
		position: relative;
		& > * {
			@extend .action-sheet-item;
			&::before {
				@include border-1px(#efefef, bottom, 0);
			}
		}
	}
}
