//theme
$run-theme-primary:#ffb403 !default;
$run-theme-primary-active:#f3ac04 !default;
$run-theme-success:#71ae48 !default;
$run-theme-success-active:#568835 !default;
$run-theme-warning:#ed7d31 !default;
$run-theme-warning-active:#c76828 !default;
$run-theme-alert:#c00000 !default;
$run-theme-alert-active:#a00202 !default;
//color
$run-color-light:#f0f0f0;
$run-color-gray:#666666;
$run-color-gray-dark:#333333;