//theme
$l-theme-primary: #ffb403 !default;
$l-theme-primary-active: #f3ac04 !default;
$l-theme-success: #71ae48 !default;
$l-theme-success-active: #568835 !default;
$l-theme-warning: #ed7d31 !default;
$l-theme-warning-active: #c76828 !default;
$l-theme-alert: #c00000 !default;
$l-theme-alert-active: #a00202 !default;
//color
$l-color-light: #f0f0f0;
$l-color-gray: #666666;
$l-color-gray-dark: #333333;
