.l-navbar {
	height: 44px;
	color: #fff;
	nav {
		height: 44px;
		position: relative;
	}
	&-title {
		position: relative;
		& > span {
			position: absolute;
			left: 50%;
			top: 50%;
			transform: translate(-50%, -50%);
			font-size: 16px;
			text-align: center;
		}
	}
	&-icon {
		@include display-flex;
		@include align-items(center);
		height: 100%;
		padding-left: 10px;
	}
	[class^='icon-'],
	[class*=' icon-'] {
		color: #fff;
	}
	&-theme-default {
		background: #fff;
		color: $l-color-gray-dark;
		[class^='icon-'],
		[class*=' icon-'] {
			color: $l-color-gray-dark;
		}
	}
	&-theme-primary {
		background: $l-theme-primary;
	}
	&-theme-success {
		background: $l-theme-success;
	}
	&-theme-warning {
		background: $l-theme-warning;
	}
	&-theme-alert {
		background: $l-theme-alert;
	}
	[class^='icon-'],
	[class*=' icon-'] {
		font-size: 22px;
		position: relative;
	}
}
