@import './dialog.bariables.scss';

.l-dialog {
	width: $l-dialog-width;
	background-color: #fff;
	border-radius: $l-dialog-border-radius;
	text-align: center;
	& > header {
		font-size: $l-dialog-header-size;
		color: #333;
		padding: 15px 10px;
	}
	& > section {
		font-size: 15px;
		color: #888;
		padding: 0 10px 10px 10px;
	}
	& > footer {
		overflow: hidden;
		position: relative;
		&::before {
			@include border-1px($l-dialog-footer-border-color, top, 0);
		}
		.l-dialog-button {
			height: $l-dialog-button-size;
			line-height: $l-dialog-button-size;
			white-space: nowrap;
			font-size: 16px;
			color: #333;
			box-sizing: border-box;
			position: relative;
			&-ok {
				color: $l-theme-primary;
			}
		}
	}
	&-confirm .l-dialog-button:last-child::before {
		@include border-1px($l-dialog-footer-border-color, left, 0);
	}
}
