.l-tab {
	position: relative;
	&-list {
		@include display-flex;
	}
	&-item {
		@include flex;
		text-align: center;
		height: 40px;
		line-height: 40px;
		font-size: 14px;
	}
	&-item-active {
		color: $l-theme-primary;
	}
	&-size-small {
		.l-tab-list > * {
			height: 30px;
			line-height: 30px;
		}
	}
	&-scroll-bar {
		position: absolute;
		bottom: -2px;
		height: 2px;
		background: $l-theme-primary;
		&-ani-general {
			transition: all 0.3s ease;
		}
		&-ani-earthworm-forward {
			transition: right 0.3s cubic-bezier(0.35, 0, 0.25, 1),
				left 0.3s cubic-bezier(0.35, 0, 0.25, 1) 0.06s;
		}

		&-ani-earthworm-back {
			transition: right 0.3s cubic-bezier(0.35, 0, 0.25, 1) 0.06s,
				left 0.3s cubic-bezier(0.35, 0, 0.25, 1);
		}
	}
}
