.date-prcker-herder {
	height: 44px;
	font-size: 16px;
	padding: 0 10px;
	.date-prcker-value {
		text-align: center;
		position: relative;
		font-weight: 600;
		height: 100%;
		line-height: 44px;
		overflow: visible;
		font-size: 12px;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
	}
	.date-prcker-active {
		&::before {
			content: '';
			position: absolute;
			left: 0;
			width: 100%;
			border-bottom: 1px solid $l-theme-primary;
			bottom: 5px;
		}
	}
	.date-prcker-empty {
		color: #969696;
		font-weight: initial;
	}
	.date-prcker-text {
		height: 100%;
		margin: 0 10px;
		line-height: 44px;
	}
}
